
  <style>
  .navbar-custom {
    background-color: #FFD100; 
  }
</style>
<style>
  .card-img-top {
    max-width: 200px;
    height: auto; 
  }
  #cart {
    display: none;
  }
</style>


<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
   
    <a class="navbar-brand" href="/mongo">Mi Tienda</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
    
          <li class="nav-item">
            <h2 class="nav-link">Bienvenido/a: {{user.name}}</h2>
            <li class="nav-item">
            <a class="nav-link" href="/api/sessions/current">Mi Perfil</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/cartsMongo/{{user.cart}}">🛒</a>
          </li>


          
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/register">Crea tu cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Inicia sesión</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<main>




   

<h1 id="cart">{{user.cart}}</h1>

  

<div class="container">
      <div class="row">
      {{#each products}}
  <div class="col-md-4">
    <div class="card mb-3">
      <img src="{{this.thumbnails}}" alt="{{this.title}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text">Precio: ${{this.price}}</p>
        <p class="card-text">Stock: {{this.stock}}</p>
        <p class="card-text">Categoría: {{this.category}}</p>
        
       <form id="cartQuantity" action="{{user.cart}}/{{this._id}}" method="POST">
  <label for="quantity">Cantidad:</label>
  <input 
    type="number" 
    id="quantity" 
    name="quantity" 
    min="1" 
    max="{{this.stock}}"
    value="1" 
    class="form-control">
  <button class="btn btn-primary" type="submit">Agregar al carrito</button>
</form>

      </div>
    </div>
  </div>
{{/each}}


    </div>
    {{#if hasNextPage}}
      <a href="{{nextLink}}" class="btn btn-primary">Siguiente</a>
    {{/if}}
  </div>
</main>  

</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>



