<h1>Products</h1>
    <ul>
        {{#each products}}
            <li>
          Id:   {{this._id}} <br> 
       Nombre:   {{this.title}} <br> 
      Descripción {{this.description}} <br> 
      Código: {{this.code}} <br> 
     Precio: {{this.price}} <br> 
      Stock: {{this.stock}} <br> 
      Categoria {{this.category}} <br>
      Imágenes: {{this.thumbnails}} <br>
      Estado: {{this.status}} <br>

               <button type="submit">Agregar al carrito</button> <br>
            </li> <br>
        {{/each}}
    </ul>
    {{#if hasNextPage}}
        <a href="{{nextLink}}">Siguiente</a>
    {{/if}}

















<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
